# Testnet API env
BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
SELA_TOKEN_ADDRESS=0xEf633c34715A5A581741379C9D690628A1C82B74
CHAIN_ID=97
# write ops (optional):
TREASURY_PRIVATE_KEY=
TREASURY_ADDRESS=0x693db6c817083818696a7228aEbfBd0Cd3371f02
# optional display:
SELA_SYMBOL_OVERRIDE=SLH
SELA_DECIMALS_OVERRIDE=18
GAS_PRICE_FLOOR_WEI=1000000000
