# Mainnet API env
BSC_RPC_URL=https://bsc-dataseed.binance.org/
SELA_TOKEN_ADDRESS=0xACb0A09414CEA1C879c67bB7A877E4e19480f022
CHAIN_ID=56
# write ops (optional):
TREASURY_PRIVATE_KEY=
TREASURY_ADDRESS=
# optional display:
SELA_SYMBOL_OVERRIDE=SLH
SELA_DECIMALS_OVERRIDE=18
GAS_PRICE_FLOOR_WEI=1500000000
